/config.py
/*.egg-info*
/dist
/.vscode
*settings.json
/.pytest_cache
/whatsappcloud/__pycache__
/whatsappcloud.config.py
/setup - old.py
/whatsappcloud.egg-info/PKG-INFO
/whatsappcloud.egg-info/SOURCES.txt
